* {
	margin: 0;
	padding: 0;
}

body {
	max-height: 100vh;
	max-width: 100vw;
}

header {
	margin: 0 8%;
	/*background-color: #fef0e8*/;
}

nav {
	display: flex;
	justify-content: space-between;
}

.nav-logo {
	padding: 1.3rem;
}

.nav-items{
	align-self: center;
	padding: 1.3rem 2rem;
}

.nav-items a {
	padding: 0 1.5rem;
	text-decoration: none;
	color: black;
	font-family: Open Sans,sans-serif;
}

section {
	margin: 5% 8% 0 8%;
}

.container {
	display: grid;
	width: 100%;
	grid-template-areas: 
	"first-division second-division";
}

.first-division {
	grid-area: first-division;
	width: 95%;
	height: 100%;
}

.second-division {
	grid-area: second-division;
	background: linear-gradient(to right,  white 0%,white 30%,#fef0e8 0%,#fef0e8 100%);
	margin-top: 15%;
}

.first-image-division {
	height: 100%;
	width: 100%;
}

.first-image-tag {
	width: 100%;
	height: 100%;
	object-fit: cover;
	
}

.second-image-division {
	height: 58%;
	width: 90%;
	margin-top: 5%;
}

.second-image-tag {
	height: 100%;
	width: 100%;
}

.title-division {
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	font-size: 3rem;
	margin-top: 5%;
	margin-right: 13%;
	line-height: 1.1;
}

.first-division-paragraph {
	margin-top: 4%;
	margin-bottom: 5%;
	line-height: 2;
	font-family: 'Open Sans', sans-serif;
}

.main-paragraph {
	line-height: 2;
	font-family: 'Open Sans', sans-serif;
	margin-top: 10%;
}

.image-owner-title {
	margin-top: 10%;
	font-family: 'Open Sans', sans-serif;
}

span {
	font-style: italic;
	border: 1px;
	border-style: none none solid;
}

footer {
	margin-top: 20%;
	color: white;
	font-family: 'Open Sans', sans-serif;
	background-color: #333333;
	padding: 2%;
	text-align: center;
}

.footer-paragraph {
	width: 10%;
	align-content: center;
	width: 40%;
	margin: auto;
	margin-top: 1%;
	font-size: 0.875rem;
}

.owner-title {
	margin-top: 2%;
	font-size: 0.875rem;
}