@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
    font-family: myFirstFont;
    src: url("fonts/ GraphikMedium.otf");
}

body {
	max-height: 100vh;
	max-width: 100%;
	font-size: 1rem;
	line-height: 1.6;
	font-family: myFirstFont;
	font-family: 'PT Serif', serif;
	font-weight: 400;
	background: white;
}

.nav {
	position: fixed;
	background-color: white;
	top: 0;
	width: 100%;
	z-index: 9999;
}

.nav-menu-icon {
	cursor: pointer;
	position: absolute;
	top: 1rem;
	left: 2%;
	z-index: 2;
	display: none;
}

.navigation-bar {
	display: flex;
	justify-content: space-between;
	margin: 0 1%;
}

.first-nav-div {
	display: flex;
}

.first-nav-div .nav-items {
	display: flex;
	align-self: center;
	margin-left: 4rem;
}

.first-nav-div .nav-items li {
	padding: 0 1.7rem;
}

.first-nav-div .nav-items a {
	font-size: 0.875rem;
}

.second-nav-div {
	display: flex;
	align-self: center;
}

.u-padding {
	padding: 0.5rem 1rem;
	text-align: center;
	align-self: center;
}

.second-nav-div a {
	font-size: .825rem;
	border-left: .063em solid #e3e3e3;
}

.india-image {
	border-left: .063em solid #e3e3e3;	
}

.nav-image-div {
	width: 6.5rem;
	padding: 1rem 0;
}

.nav-logo-tag {
	width: 100%;
}

a {
	text-decoration: none;
	color: black;
}


ul {
	list-style: none;
}

.u-padding:hover {
	border-bottom: .25em solid #000;
}

.second-nav-div .no-broder {
	border-style: none;
}

.nav-items li a:hover {
	border-bottom: .25em solid #000;
	padding-bottom: 0.5rem;
}

.main-blog {
	background-image: url("https://source.unsplash.com/user/erondu/1600x900") ;
	background-repeat: no-repeat;
	background-size: cover;
	object-fit: cover;
	background-position: 50% 50%;
	color: white;
}

.search-form a {
    padding: 0.5rem 3rem;
    background: white;
    color: black;
    align-self: center;
}

.view {
	padding-top: 2rem;
}

.main-blog-container {
	margin: 0 7%;
	padding-bottom: 7rem;
}

.blog-headline h1 {
	font-size: 3.65rem;
	padding-top: 8rem;
	width: 800;
	line-height: 1;
}

.blog-headline p {
	padding-top: 2rem;
}

.search-form {
	display: flex;
}

.search-form input {
	width: 30%;
	height: 2.7rem;
	text-overflow: ellipsis;
}

.behind {
	height: 2.68em;
	/*position: relative;*/
	z-index: -1;
	color: #a7a7a7;
	background: #a7a7a7;
	margin-top: -3.0625rem;
	margin-left: .29rem;
	margin-right: .35rem;
	padding: .938em .938em;
	font-size: .875em;
	line-height: 1em;
	margin-top: -32px;
	width: 47%;
}

.search-form a:hover {
	transform: translate(-5px, -5px);
	transition: all .3s ease-out;
}

.behind-sm {
	width: 18%;
}


.para {
	background: #f2f2f2;
}

.para p {
	padding: 3rem 7%;
	color: black;
}


.para p a{
	text-decoration: underline;
	color: #004dff;
}

.work-change-container {
	margin: 0 7%;
}

.work-change-container h1 {
	font-size: 3rem;
	padding-top: 3rem;
}

.work-items {
	display: flex;
}

.work-image-tag {
	width: 100%;
	height: auto;
}

.work-first-item {
	padding-right: 0.7rem;
	font-family: 'Roboto', sans-serif;
}

.work-first-item p {
	padding-top: 1rem;
}

.work-first-item h4 { 
	padding-top: 1rem;
	font-size: 2.188rem;		
}

.work-second-item {
	padding-left: 0.7rem;
	font-family: 'Roboto', sans-serif;
}

.links a {
	color: #004dff;
	text-transform: uppercase;
	font-weight: bold;
	display: inline;
	position: relative;
	overflow: hidden;
} 

.links a i {
	margin-left: 0.625rem;
}

.links a:after {
	content: '';
	background: #004dff;
	position: absolute;
	z-index: -1;
	right: 0;
	width: 0;
	bottom: -5px;
	height: 2px;
	transition-property: width;
	/*transition-duration: 0.3s;*/
	/*transition-timing-function: ease-out;*/
	transition: all 0.3s ease-in-out;
}

.links a:hover:after, .links a:focus:after, .links a:active:after {
	left: 0;
	right: auto;
	width: 100%;
}

.work-second-item h2 {
	font-size: 1.5625rem;
	color: black;
	padding: 1rem 0;
}

.work-second-item p {
	padding-bottom: 1rem;
}

.hero {
	background: #f2f2f2;
	margin-top: 3rem;
	padding-bottom: 3rem;
}

.hero-container {
	margin: 0 7%;
	font-family: 'Roboto', sans-serif;
	padding-top: 3rem;
}

.disc {
	
	display: flex;
	justify-content: space-between;
}


.hero-link a {
	color: #004dff;
	text-transform: uppercase;
	font-weight: bold;
	display: inline;
	position: relative;
	overflow: hidden;
} 

.hero-link a i {
	margin-left: 0.625rem;
}

.hero-link a:after {
	content: '';
	background: #004dff;
	position: absolute;
	z-index: -1;
	right: 0;
	width: 0;
	bottom: -5px;
	height: 50px;
	transition-property: width;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
}

.hero-link a:hover:after, .hero-link a:focus:after, .hero-link a:active:after {
	left: 0;
	right: auto;
	width: 100%;
}

.hero-container h2 {
	font-size: 3rem;
	color: black;
}

.carts {
	padding-top: 3rem;
	color: black;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1.7rem;
	cursor: pointer;
}

.first-cart {
	padding: 2.2em 1.43em 1.43em;
	background: white;
	border-top-color: #a100ff !important;
	border: .07em solid #ccc;
	border-top-width: .29em
}

.cart-add {
	font-weight: 600;
	font-size: 0.8rem;
	text-transform: uppercase;
}

.carts h3 {
	font-size: 1.5625rem;
	font-weight: 800;
	padding-top: 0.7rem;
}

.carts .colification span{
	font-size: 1rem;
	font-weight: 550;
	padding-top: 1rem;
}

.carts .size-sm {
	font-size: .75rem;
	padding-top: 1.3rem;
}

.first-cart:hover > h3 {
	color: #004dff;
	text-decoration: underline;
}

.explore {
	margin-top: 3rem;
	color: black;
	padding-bottom: 3rem;
}

.explore-container {
	margin: 0 7%;
}

.explore-container h1 {
	font-size: 3rem;
}

.images-division {
	padding-top: 3rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 2rem;
	
}

.first-image-division {position: relative;}

.explore-image {
	width: 100%;
	height: auto;
}

.ex-image:after {
	content: "";
	position: absolute;
	border-top: 1.25em solid;
	border-left: 1.25em solid transparent;
	color: #000;
	margin-top: 206px;
	margin-left: -367px;
}

.explore-title h3 {
	font-size: 1.5625rem;
}

.explore-title p {
	padding: 1rem 0;
}

.underline {
	display: inline;
	position: relative;
	overflow: hidden;
	color: #004dff;
}

.underline:after {
  content: "";
  position: absolute;
  /*z-index: -1;*/
  right: 0;
  width: 0;
  bottom: -5px;
  background: #004dff;
  height: 2px;
  transition-property: width;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}

.underline:hover:after,
.underline:focus:after,
.underline:active:after {
  left: 0;
  right: auto;
  width: 100%;
}

.explore-title {
	padding: 1.25em;
	border: .06em solid #ccc;
	margin-left: 1.25em;
	margin-top: -0.421rem;
}

.creating {
	background-color: #f2f2f2;
	color: black;
}

.creating-container {
	margin: 0 7%;
	padding-bottom: 3rem;
	font-family: 'Roboto', sans-serif;
}

.creating-container h2 {
	font-size: 3rem;
	font-weight: bold;
	padding-top: 3rem;

}

.creating-items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 2rem;
	padding-top: 8rem;

}

.creating-image-tag {
	width: 100%;
	height: auto;
}

.creating-u-padding {
	padding: 0 1.25em;
	background: white;
	border-top-color: #a100ff !important;
	border: .07em solid #ccc;
	border-top-width: .29em;
}

.creating-u-padding h3{
	font-size: 1.5625rem;
}

.creating-u-padding p {
	padding: 1rem 0;
}

.creating-u-padding .creating-image-tag {
	position: relative;
	margin-top: -108px;
}

.meet-container {
	padding: 2rem 0 3rem 0;
	margin: 0 7%;
}

.meet-container h2 {
	font-size: 3rem;
}

.meet-items {
	display: flex;
}

.second-meet-item {
	width: 85rem;
}

.meet-image-tag {
	width: 100%;
	height: 100%;
}

.first-meet-item p {
	padding: 1rem 0;
}

.action {
	background-color: #f2f2f2;
	color: black;	
	margin-top: 3rem;
}

.action-container {
	margin: 0 7%;
}

.action-container h2 {
	padding-top: 3rem;
	font-size: 3rem;
}

.action-items {
	display: flex;
}

.action-image {
	width: 35rem;
}

.first-action {
	padding-right: 5rem;
}

.learn-more-btn {
	padding-top: 4rem;
	font-weight: bold;
}

.action-padding {
	padding: 1rem 0;
}

.action-underline {
	display: inline;
	position: relative;
	overflow: hidden;
	color: #004dff;
}

.action-underline:after {
  content: "";
  position: absolute;
  /*z-index: -1;*/
  right: 0;
  width: 0;
  bottom: -5px;
  background: #004dff;
  height: 2px;
  transition-property: width;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}

.action-underline:hover:after, .action-underline:focus:after, .action-underline:active:after {
	left: 0;
	right: auto;
	width: 100%;
}

.second-action h3 {
	font-size: 1.5625rem;
	font-weight: 700;
	padding-top: 1rem;
}

.second-action p {
	font-size: .75rem;
	padding-bottom: 2rem;
}

.second-action a {
	color: #008;
	font-size: 1.125rem;
}

.second-action a:hover {
	text-decoration: underline;
}

.second-action {
	padding-bottom: 3rem;
}

.get-ready {
	background-color: #e3e3e3;
}

.get-ready-container {
	margin: 0 7%;
}

.get-ready-container h2 {
		padding-top: 3rem;
		font-size: 3rem;
		width: 75%;
		line-height: 1;
}

.get-items {
	display: grid;	
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 2rem;
	padding-top: 2rem;
}

.get-image-tag {
	width: 100%;
	height: auto;
}

.get-first .under-btn {
	padding-top: 4rem;
}

.get-second {
	padding-bottom: 3rem;
}

.connected-container {
	margin: 0 7%;
}

.connected-container h2 {
	font-size: 2.5rem;
	padding-top: 3rem;
}

.connected-container h3 {
	font-size: 1.5625rem;
}

.connected-container .connected-para {
	padding-top: 1rem;
}

.connected-container .info-icon {
	padding-top: 3rem;
}

.connected-items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding-top: 8rem;
	grid-gap: 2rem;
	padding-bottom: 3rem;
}

.connected-u-padding {
	padding: 0 .31em .31em 0;
	background-color: #a7a7a7;
	border-radius: 0 .44em;
	position: relative;
}

.bg-color-white {
	background-color: white;
	border: .06em solid #ccc;
	padding: 0 1.25em;
}

.connected-image {
	position: absolute;
	top: -103px;
}

.connected-title {
	margin-top: 3.5rem;
}

.connected-container .info-icon {
    padding: 3rem 0 1rem 0;
}

.connected-container .info-icon a {
	font-size: 1.2rem;
	color: #004dff;
}

.bg-color-white .info-icon a {
	color: #004dff;
	text-transform: uppercase;
	font-weight: bold;
	display: inline;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

.bg-color-white .info-icon a:after {
  content: '';
	background-color: #004dff;
	position: absolute;
	right: 0;
	width: 0;
	bottom: -5px;
	height: 2px;
	transition-property: width;
	transition: all 1s ease-in-out;
}

.bg-color-white .info-icon a:hover:after, .bg-color-white .info-icon a:focus:after, .bg-color-white .info-icon a:active:after {
  left: 0;
  right: auto;
  width: 100%;
}

.info-icon a i {
	margin-left: 0.625rem;
}

h2 {
	font-family: 'Roboto', sans-serif;
}

h3 {
	font-family: 'Roboto', sans-serif;
}

.footer {
	background-color: black;
	color: #a7a7a7;
	fill: #a7a7a7;
}

.footer-container {
	margin: 0 7%;
}

.footer-container ul li a {
	text-decoration: underline;
	color: #a7a7a7;
}

.footer-logo-tag {
	width: 3.286em;
	height: 3.37em;
	margin: 2rem 0;
}

.footer-items {
	display: flex;
	justify-content: space-between;
}

.footer-first {
	display: flex;
}

.footer .inside-items ul {
	display: flex;
}

.footer .inside-items{
	margin-left: 2.5rem;
}

.footer .inside-items ul li {
	padding-right: 7rem;
}

.footer-social-media-icon {
	display: flex;
}

.footer-social-media-icon div{
	padding-left: 2rem;
}

.footer-padding {
	align-self: center;
}

.social-u-border {
	/*border: 2px solid #a7a7a7;*/
	text-align: center;
	align-items: center;
	position: relative;
}

.social-u-border a{
	color: #a7a7a7;
	position: relative;
	z-index: 10;
	transition: all .3s ease-out;
	display: block;	
	font-size: 1.5rem;
}

.horizontal-line {
	width: 100%;
	height: 1px;
	background-color: #a7a7a7;
}

.footer-items-second {
	padding: 2rem 0;
	display: flex;
	justify-content: space-between;
}

.footer-items-second ul {
	display: flex;
}

.footer-items-second ul li {
		padding-right: 2rem;
}

.footer a:hover{
	color: white;
}


@media(max-width: 1024px) and (min-width: 993px){
	.footer .inside-items ul li {
   	padding-right: 3rem;
	}

	.footer-container {
    margin: 0 2%;
	}

	.footer-items-second a {
		font-size: 0.7rem;
	}

	.size-padding {
    margin: 0 2%;
	}

	.nav-menu-icon {
		display: block;
	}

	.first-nav-div .nav-items {
		display: none;
	}

	.nav-image-div {
    margin-left: 27.5rem;
	}

	.ex-image::after {
    content: "";
    position: absolute;
    border-top: 1.25em solid;
    border-left: 1.25em solid transparent;
    color: #000;
    margin-top: 172px;
    margin-left: -306px;
	}

}

@media(max-width: 992px) and (min-width: 769px) {
	.first-nav-div .nav-items {
		display: none;
	}	

	.nav-menu-icon {
		display: block;
	}

	.size-padding {
    margin: 0 4%;
	}

	.nav-image-div {
    margin-left: 21.5rem;
	}

	.work-change-container h1 {
    font-size: 1.5rem;
    padding-top: 3rem;
	}

	.hero-container h2 {
    font-size: 1.5rem;
    color: black;
	}

	.hero-title {
		font-size: .8rem;
	}

	.carts h3 {
    font-size: 1.25rem;
	}

	.carts {
    grid-template-columns: repeat(2, 1fr);
	}

	.explore-container h1 {
    font-size: 1.5rem;
	}

	.images-division {
    grid-template-columns: repeat(2, 1fr);
	}

	.ex-image::after {
    margin-top: 198px;
    margin-left: -352px;
	}

	.creating-container h2 {
    font-size: 1.5rem;
	}

	.creating-items {
    grid-template-columns: repeat(2, 1fr);
	}

	.third-creating-div {
		margin-top: 7rem;
	}

	.meet-container h2 {
    font-size: 1.5rem;
	}

	.meet-items {
    display: flex;
    flex-direction: column;
	}

	.second-meet-item {
    width: 100%;
    padding-top: 2.5rem;
	}

	.action {
    margin-top: 0rem;
	}

	.action-container h2 {
    font-size: 1.5rem;
	}

	.action-items {
    display: flex;
    flex-direction: column;
	}

	.action-image {
    width: 100%;
	}

	.second-action {
    padding-bottom: 3rem;
    padding-top: 2rem;
	}

	.get-ready-container h2 {
    font-size: 1.5rem;
	}

	.connected-items {
    grid-template-columns: repeat(2, 1fr);
	}


	.third-coonected {
		margin-top: 7rem;
	}

	.footer .inside-items ul li {
    padding-right: 1rem;
	}

	.footer-container ul li a {
    font-size: 0.7rem;
	}
}

@media(max-width: 768px) and (min-width: 577px) {
	.first-nav-div .nav-items {
		display: none;
	}	

	.nav-menu-icon {
		display: block;
	}

	.size-padding {
    margin: 0 4%;
	}

	.nav-image-div {
    margin-left: 19.5rem;
	}

	.work-change-container h1 {
    font-size: 1.5rem;
    padding-top: 3rem;
	}

	.hero-container h2 {
    font-size: 1.5rem;
    color: black;
	}

	.carts h3 {
    font-size: 1.25rem;
	}

	.explore-container h1 {
    font-size: 1.5rem;
	}

	.creating-container h2 {
    font-size: 1.5rem;
	}

	.hero-title p {
		font-size: 0.8rem;
		padding-top: 1rem;
	}

	.carts {
    grid-template-columns: repeat(2, 1fr);
	}

	.images-division {
    grid-template-columns: repeat(2, 1fr);
	}	

	.ex-image::after {
    margin-top: 190px;
    margin-left: -337px;
	}

	.creating-items {
    grid-template-columns: repeat(2, 1fr);
	}

	.third-creating-div {
		margin-top: 7rem;
	}

	.meet-container h2 {
    font-size: 1.5rem;
	}

	.meet-items {
    display: flex;
    flex-direction: column;
	}

	.second-meet-item {
    width: 100%;
    padding-top: 2.5rem;
	}

	.action {
    margin-top: 0rem;
	}

	.action-container h2 {
    font-size: 1.5rem;
	}

	.action-items {
    display: flex;
    flex-direction: column;
	}

	.action-image {
    width: 100%;
	}

	.second-action {
    padding-bottom: 3rem;
    padding-top: 2rem;
	}

	.get-ready-container h2 {
    font-size: 1.5rem;
	}

	.connected-items {
    grid-template-columns: repeat(2, 1fr);
	}

	.third-coonected {
		margin-top: 7rem;
	}

	.connected-container h2 {
    font-size: 1.5em;
	}

	.footer-first {
    display: flex;
    flex-direction: column;
	}

	.footer .inside-items {
    margin-left: 0rem;
	}

	.footer .inside-items ul li {
    padding-right: 2rem;
    padding-bottom: 2rem;
	}

	.footer-social-media-icon div {
    padding-left: 2rem;
    padding-top: 7rem;
	}

	.footer-items-second {
    display: flex;
    flex-direction: column;
	}

	.footer-items-second a {
		font-size: 0.8rem;
	}

	.footer-items-second ul li {
    padding-right: 1rem;
	}

	.owner-title {
		display: flex;
		justify-content: end;
		padding-top: 1rem;
	}
}


@media (max-width: 740px) {
	.ex-image::after {
    margin-top: 182px;
    margin-left: -324px;
	}
}

@media(max-width: 667px) {
	.ex-image::after {
    margin-top: 164px;
    margin-left: -291px;
	}
}

@media(max-width: 576px) {
	.first-nav-div .nav-items {
		display: none;
	}	

	.nav-menu-icon {
		display: block;
	}

	.hide {
		display: none;
	}	

	.nav-image-div {
    width: 6.5rem;
    padding: 1rem 0;
    margin-left: 9rem;
	}

	.size-padding {
		margin: 0 2%;
	}

	.para p {
    padding: 3rem 2%;
    color: black;
	}

	.work-change-container h1 {
    font-size: 1.5rem;
    padding-top: 3rem;
	}

	.hero-container h2 {
    font-size: 1.5rem;
    color: black;
	}

	.carts h3 {
    font-size: 1.25rem;
	}

	.explore-container h1 {
    font-size: 1.5rem;
	}

	.creating-container h2 {
    font-size: 1.5rem;
	}

	.hero-title p {
		font-size: 0.8rem;
		padding-top: 1rem;
	}

	.work-items {
    display: flex;
    flex-direction: column;
	}

	.work-second-item {
    padding-left: 0;
    font-family: 'Roboto', sans-serif;
    padding-top: 1rem;
  }

  .work-second-item h2{
  	font-size: 1.2rem;
  }

  .carts {
    grid-template-columns: repeat(1, 1fr);
	}

	.hero-title p {
    font-size: 1rem;
    padding-top: 1rem;
	}

	.disc {
    display: flex;
    flex-direction: column;
	}

	.hero-link {
		position: absolute;
		margin-top: 103rem;
	}

	.explore {
    margin-top: 0rem;
    color: black;
    padding-bottom: 3rem;
	}

	.images-division {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
	}

	.explore-container h1 {
    font-size: 1.5rem;
    padding-top: 1rem;
	}

	.ex-image::after {
    margin-top: 222px;
    margin-left: -395px;
	}

	.creating-items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
    padding-top: 8rem;
	}

	.third-creating-div {
		margin-top: 6.5rem;
	}

	.meet-container h2 {
    font-size: 1.5rem;
	}

	.meet-items {
    display: flex;
    flex-direction: column;
	}

	.second-meet-item {
    width: 100%;
    padding-top: 1.5rem;
	}

	.action-container h2 {
    padding-top: 1rem;
    font-size: 1.5rem;
  }

  .action {
    margin-top: 0rem;
	}

	.action-items {
    display: flex;
    flex-direction: column;
	}

	.action-image {
    width: 100%;
	}

	.second-action {
    padding-bottom: 3rem;
    padding-top: 1em;
	}

	.second-action h3 {
    font-size: 1.5rem;
	}

	.second-action p {
    font-size: 1rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
	}

	.get-ready-container h2 {
    padding-top: 2rem;
    font-size: 1.5rem;
    width: 75%;
    line-height: 1;
	}

	.get-items {
    grid-template-columns: repeat(1, 1fr);
	}

	.connected-container h2 {
    font-size: 1.5rem;
    padding-top: 1.5rem;
	}

	.get-second {
    padding-bottom: 2rem;
	}

	.connected-items {
    grid-template-columns: repeat(1, 1fr);
    padding-top: 5rem;
    grid-gap: 6rem;
	}

	.connected-image-tag {
		width: 6.25em;
		height: 6.25em;
	}

	.connected-image {
    position: absolute;
    top: -61px;
	}

	.footer-items {
    display: flex;
    flex-direction: column;
	}

	.footer-first {
    display: flex;
    flex-direction: column;
	}

	.footer .inside-items {
    margin-left: 0rem;
	}

	.footer .inside-items ul {
    display: flex;
    flex-wrap: wrap;
	}

	.footer .inside-items ul li {
    padding-right: 3rem;
	}

	.footer-social-media-icon div {
    padding: 1rem 2rem;
	}

	.footer-items-second {
    display: flex;
    flex-direction: column;
	}

	.footer-items-second ul {
    display: flex;
    flex-wrap: wrap;
	}

	.footer-items-second ul li {
    padding-right: 2rem;
    font-size: 0.7rem;
	}

	.footer-items-second ul {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1rem;
	}

	.search-form a {
    padding: 0.5rem 3rem;
    background: white;
    color: black;
    align-self: center;
    margin: 0;
        margin-left: 0px;
    margin-left: -12rem;
	}

	.search-form input {
    width: 50%;
    height: 2.7rem;
	}

	.search-form {
    display: flex;
    flex-direction: column;
	}

	.behind {
		width: 52%;
	}

	.blog-headline h1 {
    font-size: 1.85rem;
	}
	/*.size-padding {
    margin: 0 7%;
	}*/
	.search-form {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
	}

	.view {
    padding-top: .5rem;
    margin-left: 3rem;
	}

	.behind {
    width: 52%;
    margin-left: 2rem;
	}

	.search-form input {
    width: 61%;
    height: 2.7rem;
    margin-left: -1rem;
	}

	.blog-headline p {
    padding-top: 2rem;
    padding-bottom: 1rem;
	}
}

@media (max-width: 375px) {
	.search-form {
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
	}

	.behind {
    width: 59%;
    margin-left: 1rem;
	}

	.search-form input {
    width: 72%;
    height: 2.7rem;
    margin-left: -3.5rem;
	}

	.hero-link {
    position: absolute;
    margin-top: 104.5rem;
	}

	.ex-image::after {
    margin-top: 203px;
    margin-left: -360px 
	}

	.nav-image-div {
    width: 6.5rem;
    padding: 1rem 0;
    margin-left: 8rem;
	}
}

@media(max-width: 360px) {
	.ex-image::after {
    margin-top: 195px;
    margin-left: -346px;
	}

	.nav-image-div {
    width: 6.5rem;
    padding: 1rem 0;
    margin-left: 8rem;
}
}
