* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #ebe7e2;
}

nav {
	background-color: white;
}

.navigation-bar {
	margin: 0 10% 0 10%;
	display: flex;
	justify-content: space-between;
}

.logo{
	padding: 1rem 0;
}

.logo-image {
	max-height: 4rem;
	max-width: 4rem;
}

.nav-items {
	align-self: center;
	padding: 1.3rem 2rem ;
}

.nav-items a {
	padding: 0 1.5rem;
	text-decoration: none;
	color: black;
	font-family: 'Open Sans', sans-serif;
}
.nav-items a:hover {
	color: #a57c47 !important;
}

.active {
	color: #80989e !important;
}

a.active:hover {
	color: #80989e !important;
}

.section {
	margin: 5% 10%;
}

.main {
	margin-top: 12%;
}

.first-bg-color {
	height: 13.32rem;
	width: 50%;
	margin-left: 50%;
	background-color: #a57c47;
}

.second-bg-color {
	height: 13.32rem;
	width: 50%;
	background-color: #80989e;
}

.perenats-main-blog {
	display: flex;
	position: absolute;
	top: 25%;
	margin: 0 15% 0 5%;
}

.blog-title {
	background-color: white;
	padding: 28px;
}

.resume {
	margin: 8% 5% 0 5%;
} 

.resume h3 {
	font-size: 3rem;
	letter-spacing: 2px;
	font-weight: 700;
	font-family: 'Roboto', sans-serif;
}

.horizontal-line {
	border: 3px black;
	border-style: none none solid;
	width: 13.43rem;
	margin: 3% 5% 0 5%;
}

.paragreph {
	margin: 3% 5% 0 5%;
	line-height: 2;
	font-family: 'Open Sans',sans-serif;
}

.blog-image {
	object-fit: cover;
}
.image-tag {
	width: 577px;
	height: 501px;
	object-fit: cover;
}

.aro {
	max-width: 4rem;
	margin-top: 7%;
	margin-left: 5%;	
}

.owner-title {
	text-align: center;
	font-style: italic;
	font-family: 'Open Sans',sans-serif;
	opacity: 0.8;
}

footer {
	background-color: black;
	padding: 6%;
	margin-top: 3%;
	color: white;
}

.footer-div p{
	width: 34%;
	text-align: center;
	margin-left: 32%;
	font-family: 'Open Sans',sans-serif;
}