* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #bdb3ac;
	color: white;
}

section {
	margin: 5% 10% 0 10%;
}

.main-container {
	display: flex;
}

.title-tag {
	font-family: 'Merriweather', serif;
	font-size: 2.5rem;
	font-weight: 700;
	margin: 0 -19.1875rem 0 0;
	line-height: 1.1;
}

.paragraph {
	font-family: 'Open Sans', sans-serif;
	margin-top: 5%;
	font-size: 1rem;
}

.second-container {
	margin-top: 20%;
}

.image-container {
	width: 50%;
	height: 90%;
}

.image-tag {
	height: 100%;
	width: 100%;
	object-fit: cover;
	margin-left: 100%;
}

.vertical-container {
	display: flex;
}

.vertical-line {
	height: 10rem;
	width: 0.8%;
	background-color: white;
	margin-top: -30%;
	margin-left: 10%;
}

.vertical-line-paragraph {
	font-family: 'Open Sans', sans-serif;
	margin-top: 5%;
	font-size: 1rem;	
	width: 65%;
	margin-left: 3%;
}

.vertical-line-paragraph p{
	margin-top: -46%;
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	line-height: 1.6;
}